// MAINTAINER : HARANG Louis  <dev@louishrg.cc>

#hamburger-menu.is-active .line:nth-child(1) {
  -webkit-transform: translateY(8px);
  -ms-transform: translateY(8px);
  -o-transform: translateY(8px);
  transform: translateY(8px);
}

#hamburger-menu.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
  transform: translateY(-8px);
}

#hamburger-menu {
  position: absolute;
  right: 10px;
  top: 10px;
}

.hamburger .line {
  width: 30px;
  height: 2px;
  background-color: #000;
  display: block;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}