$sm-max: 768px;
$sm-min: 767px;
$md-max: 991px;
$md-min: 992px;
$lg-max: 1199px;
$lg-min: 1200px;
$nb-columns: 12;
$container-sm: 750px;
$container-md: 970px;
$container-lg: 1170px;
$gutter: 20px;


@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Roboto:400,700');

// Google Fonts
$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;

$primary-color: #F83E48;
$link-color-light: #F0F0F0;
$link-color-dark: #010101;
$bloc-color: #FFFFFF;
$bg-color: #f9f9f9;
$form-color: #FFF;
$subtext-color: #7D7D7D;

$white: #FFFFFF;
$black: #000;

$stripped-1: #f0edf7;
$stripped-2: #f8f8fd;
$header-table: #f0edf7;

$darker1: $form-color;
$darker2: #232323;
$darker3: #737373;

$input-bg: #f8f8fd;
$input-border: 1px solid #EFEFFA;
$input-radius: 4px;
$input-height: 30px;

$bloc-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
$light-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$bloc-radius: 4px;


// Font size
$small-text: 14px;
$smallest-text: 13px;
$text: 15px;
$navbar-font-size: 15px;
$content-title: 16px;
$form-title: 17px;
$page-title-size: 20px;
$bloc-title-size: 18px;

// Button size 
$btn: 30px;
$btn-sm: 25px;
$btn-lg: 50px;

$btn-color: $primary-color;
$btn-color-2: #737373;
$btn-color-3: #26A65B;
$btn-color-4: #E87E04;
$btn-radius: 5px;


$success: #2ECC71;
$warning: #F4B350; 
$info: #22A7F0;
$danger: #D64541;

//navbar

$navbar-height: 50px;
$navbar-color: $bloc-color;


