@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Roboto:400,700|Raleway:100,400");
@-ms-viewport {
  width: device-width; }
* {
  box-sizing: border-box; }

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important; }

.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

body {
  margin: 0;
  padding: 0; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  .visible-xs-inline {
    display: inline-block !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }

  .visible-sm-inline {
    display: inline-block !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }

  .visible-md-inline {
    display: inline-block !important; } }
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; } }
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
.clear {
  clear: both;
  content: ""; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px; }

.container-fluid {
  width: 100%;
  /*   padding-right: $gutter;
    padding-left: $gutter; */
  margin-right: auto;
  margin-left: auto; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs {
  position: relative;
  flex: 0 0 100%;
  min-height: 1px;
  padding-right: 20px;
  padding-left: 20px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px; }

@media (min-width: 768px) {
  .col-sm-1 {
    min-width: 8.3333333333% 1;
    flex: 0 0 8.3333333333%; }

  .col-sm-2 {
    min-width: 16.6666666667% 2;
    flex: 0 0 16.6666666667%; }

  .col-sm-3 {
    min-width: 25% 3;
    flex: 0 0 25%; }

  .col-sm-4 {
    min-width: 33.3333333333% 4;
    flex: 0 0 33.3333333333%; }

  .col-sm-5 {
    min-width: 41.6666666667% 5;
    flex: 0 0 41.6666666667%; }

  .col-sm-6 {
    min-width: 50% 6;
    flex: 0 0 50%; }

  .col-sm-7 {
    min-width: 58.3333333333% 7;
    flex: 0 0 58.3333333333%; }

  .col-sm-8 {
    min-width: 66.6666666667% 8;
    flex: 0 0 66.6666666667%; }

  .col-sm-9 {
    min-width: 75% 9;
    flex: 0 0 75%; }

  .col-sm-10 {
    min-width: 83.3333333333% 10;
    flex: 0 0 83.3333333333%; }

  .col-sm-11 {
    min-width: 91.6666666667% 11;
    flex: 0 0 91.6666666667%; }

  .col-sm-12 {
    min-width: 100% 12;
    flex: 0 0 100%; }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%; }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%; }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%; }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%; }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 992px) {
  .col-md-1 {
    min-width: 8.3333333333%;
    flex: 0 0 8.3333333333%; }

  .col-md-2 {
    min-width: 16.6666666667%;
    flex: 0 0 16.6666666667%; }

  .col-md-3 {
    min-width: 25%;
    flex: 0 0 25%; }

  .col-md-4 {
    min-width: 33.3333333333%;
    flex: 0 0 33.3333333333%; }

  .col-md-5 {
    min-width: 41.6666666667%;
    flex: 0 0 41.6666666667%; }

  .col-md-6 {
    min-width: 50%;
    flex: 0 0 50%; }

  .col-md-7 {
    min-width: 58.3333333333%;
    flex: 0 0 58.3333333333%; }

  .col-md-8 {
    min-width: 66.6666666667%;
    flex: 0 0 66.6666666667%; }

  .col-md-9 {
    min-width: 75%;
    flex: 0 0 75%; }

  .col-md-10 {
    min-width: 83.3333333333%;
    flex: 0 0 83.3333333333%; }

  .col-md-11 {
    min-width: 91.6666666667%;
    flex: 0 0 91.6666666667%; }

  .col-md-12 {
    min-width: 100%;
    flex: 0 0 100%; }

  .col-md-offset-1 {
    margin-left: 8.3333333333%; }

  .col-md-offset-2 {
    margin-left: 16.6666666667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.3333333333%; }

  .col-md-offset-5 {
    margin-left: 41.6666666667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.3333333333%; }

  .col-md-offset-8 {
    margin-left: 66.6666666667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.3333333333%; }

  .col-md-offset-11 {
    margin-left: 91.6666666667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1200px) {
  .col-lg-1 {
    min-width: 8.3333333333%;
    flex: 0 0 8.3333333333%; }

  .col-lg-2 {
    min-width: 16.6666666667%;
    flex: 0 0 16.6666666667%; }

  .col-lg-3 {
    min-width: 25%;
    flex: 0 0 25%; }

  .col-lg-4 {
    min-width: 33.3333333333%;
    flex: 0 0 33.3333333333%; }

  .col-lg-5 {
    min-width: 41.6666666667%;
    flex: 0 0 41.6666666667%; }

  .col-lg-6 {
    min-width: 50%;
    flex: 0 0 50%; }

  .col-lg-7 {
    min-width: 58.3333333333%;
    flex: 0 0 58.3333333333%; }

  .col-lg-8 {
    min-width: 66.6666666667%;
    flex: 0 0 66.6666666667%; }

  .col-lg-9 {
    min-width: 75%;
    flex: 0 0 75%; }

  .col-lg-10 {
    min-width: 83.3333333333%;
    flex: 0 0 83.3333333333%; }

  .col-lg-11 {
    min-width: 91.6666666667%;
    flex: 0 0 91.6666666667%; }

  .col-lg-12 {
    min-width: 100%;
    flex: 0 0 100%; }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%; }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%; }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%; }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%; }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

ul.inline li {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block; }

.captcha {
  width: 200px;
  border-radius: 5px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

.push-right {
  float: right; }

.push-left {
  float: left; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

.uppercase {
  text-transform: uppercase; }

.img-responsive {
  width: 100%; }

.no-gutter {
  margin: 0;
  padding: 0; }

.magic-margin {
  margin-top: 50px;
  margin-bottom: 50px; }

.wd100 {
  width: 100%; }

body {
  background-color: #FFF;
  font-family: "Roboto", sans-serif;
  height: 100%;
  font-size: 14px; }

a {
  color: #000;
  text-decoration: none; }

a:hover {
  color: #575757; }

a:focus {
  color: #FFF; }

a.active {
  border-bottom: solid 3px #000; }

.bg {
  background-image: url("../img/theme-1/bg.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.modal {
  top: 15vh;
  background: #FFF;
  text-align: center; }
  .modal .modal-title {
    margin: 20px; }
  .modal .input-group {
    margin: 10px; }
    .modal .input-group label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold; }
    .modal .input-group input {
      background: #EFEFEFEF;
      padding: 15px 20px;
      border: none;
      border-radius: 4px;
      width: 100%; }
  .modal input.btn {
    background: #737373;
    border: 2px solid #737373 !important;
    display: inline-block;
    font-size: 15px;
    padding: 5px 20px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    color: #FFFFFF;
    border-radius: 5px;
    position: relative;
    font: "Roboto", sans-serif;
    cursor: pointer;
    margin: 15px; }
  .modal input.btn:hover {
    background: #404040;
    border: 2px solid #404040 !important; }

section {
  margin-top: 40px; }
  section h2, section .subtext {
    text-align: center; }
  section header {
    margin-bottom: 40px; }

main {
  z-index: 33; }

article {
  margin-bottom: 50px; }

section.news img {
  transition: all 0.3s ease-in; }
section.news img:hover {
  filter: grayscale(10%); }

.separator {
  height: 1px;
  background-color: #e8e8e8;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px; }

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden; }

.position-ref {
  position: relative; }

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center; }

.full-height {
  height: 100vh; }

.error-message {
  font-size: 38px;
  color: #636b6f;
  font-weight: 100;
  font-family: "Raleway", sans-serif; }

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }

.media-container:hover .image {
  filter: grayscale(10%); }

.media-container:hover .middle {
  opacity: 1; }

.text {
  background-color: #000;
  color: white;
  font-size: 14px;
  padding: 16px 32px; }

.anchor {
  position: relative;
  top: -100px; }

.layout {
  width: 100%;
  height: 100%;
  position: relative; }

.bg {
  position: relative;
  z-index: 1000; }

.about-us h4 small {
  color: #575757; }

.timeline-bullet-right, .timeline-bullet-left {
  display: none; }

.magic-margin {
  margin: 20px; }

.navbar {
  height: 80px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  line-height: 80px;
  background: #FFF;
  transition: all 0,3s linear;
  z-index: 2; }
  .navbar.initial {
    background: none;
    box-shadow: none; }
    .navbar.initial a {
      color: #FFF;
      border-color: #FFF; }
  .navbar .nav li {
    display: inline-block;
    margin: 0 10px;
    padding: 0; }
  .navbar .nav a {
    font-size: 16px;
    font-weight: 600;
    padding: 5px 10px; }
  .navbar .sitename a {
    font-weight: 800;
    font-size: 18px; }

@media (max-width: 991px) {
  .text-right, .text-left {
    text-align: justify; }

  #menu {
    display: none;
    text-align: center;
    width: 100%;
    position: relative;
    top: -2px; }
    #menu li {
      display: block; }

  #hamburger-menu.is-active .line:nth-child(1) {
    -webkit-transform: translateY(2px) translateX(-4px) rotate(45deg);
    transform: translateY(2px) rotate(45deg); }

  #hamburger-menu.is-active .line:nth-child(2) {
    -webkit-transform: translateY(-6px) rotate(-45deg);
    transform: translateY(-6px) rotate(-45deg);
    width: 20px;
    left: 0; }

  #hamburger-menu {
    position: fixed;
    right: 30px;
    top: 30px;
    cursor: pointer;
    z-index: 999;
    outline: none; }

  .hamburger .line {
    width: 20px;
    height: 2px;
    content: " ";
    background-color: #FFF;
    display: block;
    left: 0;
    margin: 6px auto;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }

  .hamburger .line:nth-child(2) {
    left: -5px;
    position: relative;
    width: 10px; }

  .hamburger.is-active:hover {
    cursor: pointer; }

  .hamburger.is-active:hover .line {
    transition: all 0.1s ease-in-out;
    animation: menu-close 3s infinite; }

  #menu.is-active {
    display: block; }

  nav.initial #menu.is-active {
    background: #000; }
  nav.initial.is-active {
    background-color: #000; }
  nav.initial .hamburger .line {
    background-color: #FFF; }

  nav #menu.is-active {
    background: #FFF; }
  nav .hamburger .line {
    background-color: #000; } }
@media (min-width: 992px) {
  .media-container {
    height: 190px;
    overflow: hidden; }

  .img-timeline {
    width: auto;
    max-width: 100%;
    height: 300px; }

  .border-timeline {
    border-right: 1px solid #000; }

  .timeline-bullet-right {
    position: absolute;
    right: -8px; }

  .timeline-bullet-left {
    position: absolute;
    left: -7px; } }
.footer {
  margin-top: 60px;
  width: 100%;
  height: 80px;
  line-height: 80px; }
  .footer ul li {
    display: inline-block;
    margin: 0 10px;
    padding: 0; }
  .footer .sitename {
    margin-left: 20px; }
    .footer .sitename a {
      font-weight: 800;
      font-size: 18px; }
  .footer .mentions {
    margin-right: 20px; }

/*# sourceMappingURL=homepage.css.map */
