@import "../vars/_vars-admin-1.scss";

select {
	background-color:$input-bg;
	border-radius:$input-radius;
	border: $input-border;
	color:$link-color-dark;
	height: 40px;
    padding: 5px 15px;
	appearance:none;
    box-sizing: border-box;
    font-size: 15px;
    width: 100%;
}
input[type=text] {
	background-color:$input-bg;
	border-radius:$input-radius;
	border:$input-border;
	color:$link-color-dark;
	height:32px;
	padding: 20px 10px;
}
.form-link{
	width: 100%;
	display: block;
	text-align: center;
}
input[type=text].sm-input {
	padding: 10px 10px;
}

input[type=password] {
	background-color:$input-bg;
	border-color: transparent;
	border-radius:$input-radius;
	border:$input-border;
	color:$link-color-dark;
	height:32px;

}

input{
	background-color:$input-bg;
	border-radius:$input-radius;
	border:$input-border;
	color:$link-color-dark;
	height:32px;
	padding: 20px 10px;
	width: 100%;
	font-size: 15px;
	border: 1px solid #e4eaec;
}

textarea {
	background-color:$input-bg;
	border-color: transparent;
	border-radius:$input-radius;
	color: $link-color-dark;
	width:auto;
	height:auto;
	overflow:hidden;
	width:100%;
	max-width:100%;
}

.trumbowyg-box{
	z-index: 1;
}

label.label-input {
    margin-bottom: 5px;
    display: block;
}

.trumbowyg-editor{
	background: $white;
}

.full{
	width:100%;
}


.table {
	width:100%;
	color:$black;
	border:0;
	border-collapse: collapse;
	text-align:center;
	background-color: $stripped-2;

	tr {
		td{
			padding-top: 15px;
			padding-left: 5px;
			padding-bottom: 15px;
			padding-right: 5px;
		}
		th{
			padding-top: 6px;
			padding-bottom: 6px;
		}
	}
	thead {
		tr {
			background-color:$stripped-1;
			th:nth-child(2) {
				text-align:left;
			}
		}
	}
	tfoot {
		tr {
			background-color:$stripped-1;
			td{
				padding-top: 6px;
				padding-bottom: 6px;
			}
			td:nth-child(2) {
				text-align:left;
			}
		}
	}
	tbody {
		tr:nth-child(odd){
			background-color: darken($stripped-2,4);
		}
		tr:nth-child(even){
			background-color: $stripped-2;
		}
		tr {
			td:nth-child(2) {
				text-align:left;
				ul {
					display:inline-block;
					margin: 0px 0px 0px 15px;
					font-size: $text;
					vertical-align: middle;
					padding:0;
					li {
						list-style:none;
						float:left;
						font-weight:initial;
						margin-left: 0.5em;
					}
				}
			}
		}
	}
}




@media screen and (max-width: 768px) {
  table {
    border: 0;
  }


  .entity-key{
  	font-weight: bold;
  	text-transform: uppercase;
  	text-align: center !important;
  }
.grid-actions{
	    width: 100%;
	    display: block;
	    text-align: center;
}
table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

    table tfoot {
    display: none;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
    background: $stripped-1;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

.table-bordered {
	tr, td {
		border: 1px solid $stripped-2;
		border-collapse: 1px;
	}
}

ul.grid-actions{
	text-align:right;
	li{
		font-size:$small-text;
	}
}

.checkbox-container {
	display: block;
	position: relative;
	cursor: pointer;
	font-size: 22px;
	padding-left: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	display: none;
}

.checkmark {
	position: absolute;
	top: -5px;
	left: 8px;
	height: 15px;
	width: 15px;
	background-color: #c9c5c7;
	border-radius: 1px;
}

.checkmark-header{
	left: 12px;
	top:-7px;
}
.checkmark-footer{
	left: 8px;
	top:-7px;
}
.checkbox-container:hover input ~ .checkmark {
	background-color: #ccc;
}


.checkbox-container input:checked ~ .checkmark {
	background-color: $primary-color;
}


.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
	display: block;
}

.checkbox-container .checkmark:after {
	left: 5px;
	top: 1px;
	width: 2px;
	height: 7px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.login-modal{
	background:$stripped-1;
	border-radius: 2px;
	box-shadow: $bloc-shadow;
	top:25vh;
	position: absolute;
	text-align: center;
	width: 100%;
	padding: 30px;
	input{
		width: 100%;
	}
}


.mb-10{
	margin-bottom:10px;
}
.mt-10{
	margin-top:10px;
}
.mr-10{
	margin-right:10px;
}
.ml-10{
	margin-left:10px;
}
.mt-20{
	margin-top:20px;
}
.ml-20{
	margin-left:20px;
}
.mr-20{
	margin-right:20px;
}
.mb-20{
	margin-bottom:20px;
}

.m-20{
	margin:20px;
}
.m-10{
	margin:10px;
}

.row-no-margin{
	margin:0 !important;
}