// MAINTAINER : HARANG Louis  <dev@louishrg.cc>
@import "../vars/_vars-admin-1.scss";


a, a:hover, a:focus{
	text-decoration: none;
	color: $primary-color;
	cursor: pointer;
}
a{
	color: $link-color-dark;
}

body{
	background: $bg-color;
} 

.cicon-carret-drodown{
	width: 15px;
	height: 15px;
	position: relative;
	top: 4px;
	left: 35px;
}

.bloc{
	background: $bloc-color;

	padding:30px;
	color: $link-color-dark;
	font-size: $text;
	margin-top: 20px;
}

.grid-media{
	padding: 10px !important;
}

.grid-media img{
	cursor: pointer;
	border:3px solid #FFF;
}

.grid-media:hover img{
	border:3px solid $primary-color;

}

.toolbar-media{
	background: $stripped-1;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left:0;
	margin-right:0;
	padding: 20px;
	border-radius: 2px;
	
}

.ignore-me{
	margin-top: $navbar-height + 40px;
}

.reponsive-img{
	max-width: 100%;
}

.breadcrumb{
	font-size: $page-title-size;
	color: $darker3;
	font-size:17px;
	position: absolute;
	left: 150px;
	top: 15px;
	z-index: 998;
	&.collapsed{
		left: 280px;
	}
}
.bloc-title{
	color: $black;
	font-weight:400;
	font-size: $bloc-title-size;
	position: relative;
	top: -10px;
	width: 250px;
}
.bloc-subtitle, .subtext{
	color: $subtext-color;

}

.bloc-close{
	font-size: 12px;
	color: $darker1;
	transition: all 0.3s ease-in;
	position: relative;
	top: -15px;
	right: 0px;
	float: right;

}
.bloc-close:hover {
	cursor:pointer;
	color: $primary-color;
}
.menu-dashboard{
	position: absolute;
	right: 10px;
	top: $navbar-height + 10px;
	color: $darker2;

}
.menu-dashboard:hover{
	cursor: pointer;
}

.bloc article{
	margin-top: 20px;
}
// Boutons
.btn{
	display: inline-block;
	font-size: 15px;
		padding:10px 25px;
	text-decoration:none;
	background: $primary-color;
	transition: all 0.2s ease-in-out;
	color: $white;
	border-radius: $btn-radius;
	border: 2px solid $primary-color !important;
	position:relative;
	font: $roboto;
	cursor: pointer;
}

.btn-margin{
	margin:5px;
}
.btn-inline{
	display: inline-block !important;
	width: auto !important;
}
.btn-sm{
	font-size: 15px;
	padding: 5px 20px;

}

.btn-lg{
	font-size: 18px;
	padding:15px 25px;

}

.btn:hover, .btn:focus, .btn:active{
	background: darken($primary-color, 20%);
	color: $white;
}


.btn-alt{
	background: $btn-color-2;
	border:2px solid $btn-color-2 !important;

}

.btn-alt:hover, .btn-alt:focus, .btn-alt:active{
	background: darken($btn-color-2,20%);
}

.btn-success{
	background: $btn-color-3;
	border:2px solid $btn-color-3 !important;

}

.btn-success:hover, .btn-success:focus, .btn-success:active{
	background: darken($btn-color-3,20%);
}

.btn-danger{
	background: $btn-color-4;
	border:2px solid $btn-color-4 !important;

}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active{
	background: darken($btn-color-4,20%);
}

.btn-inverted{
	background: #FFF;
	border:2px solid $primary-color !important;
	color:$primary-color;
	font-weight: bold;
}

.btn-inverted:hover, .btn-inverted:focus, .btn-inverted:active{
	background: $primary-color;
	color: $white;
}


.btn-alt-inverted{
	background: #FFF;
	color:$btn-color-2;
	font-weight: bold;
	border:2px solid $btn-color-2 !important;

}

.btn-alt-inverted:hover, .btn-alt-inverted:focus, .btn-alt-inverted:active{
	background: $btn-color-2;
	color:#FFF;
}

.btn-success-inverted{
	background: #FFF;
	color: $btn-color-3;
	border:2px solid $btn-color-3 !important;
	font-weight: bold;
}

.btn-success-inverted:hover, .btn-success-inverted:focus, .btn-success-inverted:active{
	background:$btn-color-3;
	color:#FFF;
}

.btn-danger-inverted{
	
	background: #FFF;
	color: $btn-color-4;
	border:2px solid $btn-color-4 !important;
	font-weight: bold;

}

.btn-danger-inverted:hover, .btn-danger-inverted:focus, .btn-danger-inverted:active{
	background: $btn-color-4;
	color:#FFF;
}




.input-group{
	.form-helper{
	color: $darker3 !important;
	font-size: $small-text !important;
	text-align: center;
	margin-bottom: 30px;
	}
	margin: 20px;
	.label-input{
		margin-bottom: 10px;
	}
}




.btn-add{
	margin-left: 20px
}

@media (max-width: $sm-max){
	.bloc{
		padding: 0 !important;
	}
	.btn-add{
		margin: 20px;
		display: block;
		text-align: center;
	}
}

.search-input{
	width: 300px;
}

.welcome-btn{
	position: relative;

}

.welcome-bloc > p.subtext{
	width: 200px;
	text-align: center;
	position: relative;
	left: -20px;
}

div.separator{
	height: 1px;
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;
	background: #e7e7e780;
}
.text-center{
	text-align: center;
}

.links-bloc article header{
	font-weight: 600;
	font-size: $content-title;
	text-align: center;
	margin-bottom: 20px;
}
.links-bloc article content{
	ul{
		display: inline-block;
		li{
			margin: 10px;
			a{
				color: $subtext-color;
			}
			a:hover{
				color: $primary-color;
				transition: all 0.3s ease-in;
			}
			a.padding{
				padding-left: 30px;
				text-align: right;
			}
		}
	}
}

.links-bloc .theme-links, .links-bloc .pub-links, .links-bloc .more-links{
	text-align: center;
	margin-top: 30px;
}

.welcome-start{
	margin-top: 30px;
	.subtext{
		margin-top: 20px;
	}
}

.quick-view{

	article{
		text-align: center;
		ul{
			li{
				font-size: $content-title;
				margin:20px;
				span{
					font-size:25px;
					margin-right:10px;
				}
			}
		}
		p{
			span{
				color: $primary-color;
			}
		}
	}
}

.update-wesic{
	text-align:center;
}

.activity{
	article{
		header{
			font-size: $content-title;
		}
		ul{
			margin-top: 20px;
			text-align: center;
			li{
				small{
					font-size: $small-text;
					color: $subtext-color;
				}
				a:hover{
					color: darken($primary-color, 10%);
				}
			}
		}
	}
}
.stats{
	margin-bottom: 50px;
	article{
		text-align: center;

		ul.numbers{
			li{
				display: inline-block;
				text-align: center;
				width: 150px;
				span{
					font-size: 30px;
					color: $primary-color;
				}
				p{
					position:relative;
					top:-20px;
				}
			}
		}
		img{
			margin-bottom: 20px;
			width:100%; 
		}
		ul.btns{
			li{
				display: inline-block;
				a.active{
					background: $btn-color-2;
				}
			}

		}
	}
}

.last-comments{
	article{
		padding-bottom: 30px;
		border-bottom: 1px solid $small-text;
		div.comment{
			margin-top: 40px;
			header{
				margin-bottom: 10px;
			}
			footer{
				margin-top: 20px;
				small{
					color: $subtext-color;
					font-size: $small-text;

				}
			}
			div.admin-actions{
				text-align: center;
				a{
					margin: 20px;
				}
			}
		} 
	}
}
.article-bloc{
	header{
		text-align: right;
	}
	table{
		margin-top:20px;
	}
	footer{
		margin-top: 20px;
	}
}

.grid-actions{
	font-size: $smallest-text;
}

p.title-form {
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: #626262;
}
.form-group{
	background: #e6e9f3;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: $input-radius;
	padding: 20px;
	.form-group-title{
		
		font-size: $form-title;
	}
	.form-group-aside{
		position: relative;
		top: -20px;
		text-align: left;
	}
	a.add-media{
		position:absolute;
		right:20px;
		top:30px;
	}
}
.form-group-alt-color{
	background: $stripped-2;
}
.row-forms{
	margin-right: 0px !important;
	margin-left: 0px !important;
}
.form-btn{
	.btn{
		margin:10px;
	}
}

.checkbox-group{
	background: $input-bg;

	ul{
		padding: 20px;
		li{
			margin: 20px;
			span{
				margin-left: 20px;
			}
		}
	}
}


.publication-choices{
	text-align: center;
	margin-bottom:20px;
	margin-top: -10px;
	ul{
		li{
			margin:20px;
		}
	}
	span{
		position:relative;
		top:5px;
	}
	

}

.login-bg{
	background: url('../img/login-bg.jpg') center no-repeat;
	height: 100%;
	width: 100%;
	position: absolute;
	top:0;
	left:0;
	background-size:cover;
}

@media (min-width: $sm-max) and (max-width: $md-max){


}

@media (min-width: $md-min) and (max-width: $lg-max) {

}

@media (min-width: $md-min){
	.welcome-btn{
		top: -30px;
	}
}

@media (min-width: $sm-min){

	.bloc{
		border-radius: $bloc-radius;
		box-shadow: $bloc-shadow;
	}
}




@media (min-width: 1200px) {

	.links-bloc .theme-links, .links-bloc .pub-links{
		padding-left: $gutter;
		padding-right: $gutter;
		text-align: none;
		margin-top: 0;
	}


	.links-bloc .more-links{
		padding-left: $gutter;
		padding-right: $gutter;
		left: 0px;
		text-align: none;
		margin-top: 0;
	}

	.gutter-bloc, .gutter-bloc-r{
		min-width: 49% !important;
		flex: 0 0 49% !important;
	}
	.gutter-bloc-r{
		margin-left: 2%;
	}



}