$pink: #E82053;
$darkpink: #C9204B;
$grey: #9C9C9C;
$black: #2E2727;

img{
    filter: grayscale(100%);
    z-index: 1000;
}

a,a:visited{
    font-size: unset;
    text-decoration: none;
    color: unset;

}
html{
    font-family: 'Roboto', sans-serif;
}

@mixin medium-font($color) {
    color: $color;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

@mixin regular-font($color) {
    color: $color;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

@mixin title-font($color) {
    color: $color;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

@mixin center-xy(){
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}

@mixin center-x(){
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin center-y(){
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

@mixin center-row(){
    align-items: center;
    text-align: center;
}

* > span{
    color: $pink;
}

.title-section > div{
    text-align: center;
}

#container-cta h2{
    @include title-font(white);
}

#container-aboutus p{
    @include regular-font($grey);
}

#container-newslater p {
    @include regular-font(white);
}

#container-function p{
    @include regular-font($grey);
}

#container-function h3{
    @include medium-font($grey);
}


.title-section{
    padding: 6vh 0 12vh 0;
}

.row-margin-bottom{
    margin-bottom: 12vh;
}

.title-section h2{
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #2E2727;
    display: inline;
}

.title-section h2::after{
    content: "";
    width: 50%;
    height: 2px;
    background: #2E2727;
    position: absolute;
    right: 0;
    bottom: -10px;
}

header{
    text-align: center;
    position: relative;
    background: url(../img/onepage/bg.jpg) no-repeat center center / cover;
    height: 90vh;
    width: 	100%;
}
header > div {
    width: 80%;
    @include center-xy();
}

header h1{
    padding-bottom: 40px;
    font-size: 30px;
    font-weight: bold;
    color: 	white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
header .cta-main,header .cta-inline{
    margin: 0 5px;
}
nav{
    z-index: 1000;
    position: fixed;
    height: 70px;
    background: rgba(0,0,0,0.5);
    width: 	100%;
}
ul{
    width:auto;
    height: 100%;
}

ul > li{
    @include medium-font($grey);
    font-size: 14px;
    position: relative;
    height: 100%;
    line-height: 100%;
    display: inline-block;
    float: right;
    padding: 27px 30px;
}

ul > li.active{
    color: white;
}
ul > li:hover{
    cursor: pointer;
    color: white;
}

ul > li.active::after{
    content: "";
    width: calc(100% - 60px);
    height: 2px;
    background: white;
    position: absolute;
    left: 50%;
    bottom: 19px;
    transform: translateX(-50%);
}

.cta-main{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    display: inline;
    padding: 14px 24px;
    color: white;
    background: #E82053;
    border-radius: 4px;
    transition: 0.3s all;
}
.cta-main:hover{
    cursor: pointer;
    background: $darkpink;
}

.cta-inline{
    text-align: center;
    font-size: 16px;
    font-weight: bold;

    box-sizing: content-box;
    display: inline;
    padding: 12px 22px;

    color: white;

    border-radius: 4px;
    border: 2px solid white;
    transition: 0.3s all;
}

.cta-inline:hover{
    cursor: pointer;
    background: white;
    color: $black;
}

.active.functionality-icon{
    border: 2px solid #E82053;
}
.active h3{
    color: #E82053;
}

.active p{
    color: #2E2727;
}

.functionality-icon{
    @include center-x();
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40% auto;
    position: relative;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 2px solid #9C9C9C;
}

#container-function{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #9C9C9C;
}

#container-function h3{
    font-weight: 600;
    margin: 3vh 0;
}

#container-function p{
    margin-bottom: 6vh;
}

#func-calendar .functionality-icon {
    background-image: url(../img/onepage/icon-calendar.png);
}

#func-calendar:hover .functionality-icon{
    background-image: url(../img/onepage/icon-calendar-active.png);
}

#func-custom .functionality-icon {
    background-image: url(../img/onepage/icon-custom.png);
}

#func-custom:hover .functionality-icon{
    background-image: url(../img/onepage/icon-custom-active.png);
}

#func-media .functionality-icon {
    background-image: url(../img/onepage/icon-media.png);
}

#func-media:hover .functionality-icon{
    background-image: url(../img/onepage/icon-media-active.png);
}

#func-custom:hover h3,#func-media:hover h3,#func-calendar:hover h3
{
    color: $pink;
}
#func-custom:hover div,#func-media:hover div,#func-calendar:hover div{
    border: 2px solid $pink;
}

#func-custom:hover p,#func-media:hover p,#func-calendar:hover p{
    color: $black;
}
#container-work{
    background-color: black;
}


#container-work .title-section h2{
    color: white;
}

#container-work .title-section h2::after{
    background: white ;
}

.partner > div{
    height: 300px;
    width: 100%;
    background:red;
}

body > section{
    padding-bottom: 6vh;
}

#container-newslater{
    background-color: #F62459;
}
#container-newslater h2{
    padding: 6vh 0 3vh 0;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: white;
}

#container-cta{
    position: relative;
    background : url(../img/onepage/bg-cta.jpg) no-repeat center center / cover;
}

#container-cta .cta-main{
    @include center-xy();
}

#container-cta h2{
    padding: 12vh 0;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

#container-cta{
    padding: 0;
}

.wrapper-cta{
    height: 100%;
    padding: 0;
}
@media only screen and (max-width: 768px) {
    .wrapper-cta{
        padding: 2vh 0 9vh 0;
    }
    #container-cta h2{
        padding: 6vh 10px 3vh 10px;
    }

}

#container-aboutus p:hover{
    color: $black;
}

.partner > div{
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.partner > div:hover::before{
    cursor: pointer;
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #E82053 url(../img/onepage/icon-select.png) no-repeat center center/ auto 25%;
    opacity: 0.95;
}
div:nth-child(1) > .partner > div:nth-child(1){
    background-image: url(../img/onepage/gallery/1.jpg);
}

div:nth-child(1) > .partner > div:nth-child(2){
    background-image: url(../img/onepage/gallery/2.jpg);
}

div:nth-child(1) > .partner > div:nth-child(3){
    background-image: url(../img/onepage/gallery/3.jpg);
}

div:nth-child(2) > .partner > div:nth-child(1){
    background-image: url(../img/onepage/gallery/4.jpg);
}

div:nth-child(2) > .partner > div:nth-child(2){
    background-image: url(../img/onepage/gallery/5.jpg);
}

div:nth-child(2) > .partner > div:nth-child(3){
    background-image: url(../img/onepage/gallery/6.jpg);
}

div:nth-child(3) > .partner > div:nth-child(1){
    background-image: url(../img/onepage/gallery/7.jpg);
}

div:nth-child(3) > .partner > div:nth-child(2){
    background-image: url(../img/onepage/gallery/8.jpg);
}

div:nth-child(3) > .partner > div:nth-child(3){
    background-image: url(../img/onepage/gallery/9.jpg);
}

#cta-news{
    margin-top: 40px;
    background-color: white;
    padding: 15px 0;
    @include regular-font($pink);
    font-weight: bold;
    transform: translateX(10px);
    transition: 0.3s all;
}

#cta-news:hover{
    cursor: pointer;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.40);
}

#cta-news-inline{
    padding: 15px 0;
    margin-top: 40px;
    border: 2px solid white;
    transform: translateX(-10px);
    transition: 0.3s all;
}

#cta-news-inline:hover{
    cursor: pointer;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.40);
}

@media only screen and (max-width: 991px) {
    #cta-news,#cta-news-inline{
        transform: none;
    }
}


@media only screen and (max-width: 500px) {
    ul > li{
        font-size: 12px;
    }
}
